@mixin minWidth($mqVal) {
  @media (min-width: $mqVal) {
    @content;
  }
}
@mixin maxWidth($mqVal) {
  @media (max-width: $mqVal) {
    @content;
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == min640 {
    @media (min-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == min768 {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == min992 {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == min1024 {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == max640 {
    @media not all and (min-width: 640px) {
      @content;
    }
  }
}

/* @mixin btnShadow($themeValue) {
  box-shadow: 0 0.4rem 0.1rem 0.1rem rgba(var(--bs-primary-rgb), 0.7);
} */

/* @mixin heading_border($mb: 0.8rem, $pb: 0.5rem, $fontsize: 1.5rem) {
  border-bottom: 1px solid rgba($gray-700, 0.2);
  padding-bottom: $pb;
  margin-bottom: $mb;
  font-size: $fontsize;
} */

%smallTag {
  small {
    // display: block;
    text-transform: none;
    color: rgba($primary, 0.5);
    font-weight: normal;
    // font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
}

%sub-heading-border {
  // font-size: 1.2rem;
  display: inline-block;
  // margin-bottom: 1rem;
  align-self: self-start;
  text-transform: uppercase;
}

%hstrip {
  position: relative;
  display: flex;
  margin-bottom: 0.2rem;
  color: $primary;
  font-weight: 500;
  &::after {
    display: block;
    content: '';
    height: 0.07rem;
    width: 5rem;
    // background-color: $gray-400;
    margin-top: 11px;
    margin-left: 10px;
  }
}

%next-prev-decoration {
  overflow-y: inherit;
  overflow-x: clip;
  .swiper-button-prev,
  .swiper-button-next {
    // top: -1.7rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100vmax;
    background-color: $white;
    border: 1px solid rgba($primary, 0.2);
    box-shadow: 0px 5px 3px 0px rgba($primary, 0.45);
    color: $primary;
    &:hover {
      background-color: $primary;
      color: $white;
    }
    &::after {
      font-size: (var(--swiper-navigation-size) / 2);
      font-weight: var(--font-bold);
    }
    &.swiper-button-disabled {
      pointer-events: painted;
    }
  }
  .swiper-button-prev {
    // left: -1px;
  }
  .swiper-button-next {
    // right: -1px;
  }
}
