// $primary: #9d7f19;

$primary: #914110;
$primary-dark: #532200;
$secondary: #efcfa0;
$secondary-dark: #e1a140;
$white: #fff;
$black: #111116;
$font-sans: 'Barlow', sans-serif;
// $font-serif: 'p22-mackinac-pro';
// $body-bg: #f8f5e8;

:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --rounded: 0.4rem;
  --rounded-full: calc(infinity * 1px);
  --heading-font: 5.5vw;
  --container-xl: 1170px;
  --common-space: 22px;
  --common-space-xl: 40px;
  --youtube-color: #cd201f;
  --whatsapp-color: #25d366;
  --phone-color: #0abf53;
  --shadow-theme: 0 19px 48px -12px rgba(0, 0, 0, 0.25);
  // --body-bg: #f8f5e8;
  --font-sans-serif: 'Poppins';
  --font-serif: 'p22-mackinac-pro';
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v23-latin-300.woff2') format('woff2');
}
@font-face {
  font-family: 'p22-mackinac-pro';
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
  src: url('../fonts/font-serif.woff2') format('woff2');
  font-display: swap;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"); */
