// Custom.scss
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'variables';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/root';

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets

@import 'mixin';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
// @import '../node_modules/bootstrap/scss/dropdown';
// @import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
// @import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/breadcrumb';
// @import '../node_modules/bootstrap/scss/pagination';
// @import '../node_modules/bootstrap/scss/badge';
// @import '../node_modules/bootstrap/scss/alert';
// @import '../node_modules/bootstrap/scss/progress';
// @import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/placeholders';
@import '../node_modules/bootstrap/scss/helpers';
// ...

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

@import 'header';

main {
  margin-top: 3.2rem;
  @include responsive(min640) {
    margin-top: 4.7rem;
  }
}

.banner {
  // margin-top: 13rem;
  position: relative;
  &__img {
    max-height: 600px;
    object-fit: cover;
    width: 100%;
  }
  &__text {
    color: $white;
    margin-bottom: 2rem;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 3rem;
  }
  &__post {
    display: flex;
    gap: 1.5rem;
    img {
      width: 70px;
      height: 70px;
      border-radius: 100vmax;
    }
    .post {
      position: relative;
      flex: 1 1 25%;
      display: flex;
      align-items: center;
      gap: 0.9rem;
      background-color: rgba($white, 0.7);
      padding: 0.5rem;
      border-radius: 0.8rem;
      backdrop-filter: blur(5px);
      a {
        font-size: 0.9rem;
        font-weight: var(--font-semibold);
      }
    }
  }
}

.editor-picks {
  padding-top: 3rem;
}

.blog-card {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  color: inherit;
  background-color: rgba($primary, 0.2);
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in;
  /* &:nth-last-of-type(2) {
    background-color: $gray-200;
  } */
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  }

  /* IMAGE */
  .blog-img {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      border-radius: 0.8rem;
    }
  }

  /* CONTENT */
  .blog-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    min-height: 100%;
  }
}

.blog-category {
  @include blogCategory;

  /* background: $white;
  position: relative;
  z-index: 2;
  padding: 0.25rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: $primary;
  text-decoration: none;
  &:hover {
    background-color: $primary;
    color: $white;
  } */
}

.blog-date {
  font-size: 0.78rem;
  opacity: 0.7;
  margin-left: 0.5rem;
}

/* ✅ 2nd Card auto different background color */
.blog-card:nth-child(even) .blog-inner {
  background: #ecf2ff;
}
.blog-card:nth-child(even) .blog-category {
  color: #0056ff;
}

/* ✅ RESPONSIVE */
@media (max-width: 768px) {
  .blog-inner {
    flex-direction: column;
    padding: 1rem;
  }

  .blog-img {
    max-width: 100%;
    flex: 1 1 auto;
  }
}

.recent-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blog {
  // border: red solid 1px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;

  &-item {
    position: relative;
    display: flex;
    gap: 2rem;
  }
  &-img {
    border-radius: 1rem;
    img {
      border-radius: inherit;
    }
  }
  &-content {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    .blog-category {
      @include blogCategory(rgba($primary, 0.2));
    }
  }
}

.blog-right {
  // border: red solid 1px;
  .news {
    display: grid;
    gap: 1.5rem;
    &-item {
      position: relative;
      display: flex;

      gap: 1rem;

      img {
        width: 100px;
        border-radius: 0.5rem;
      }
    }
  }
}

// Single Blog page
.post-section {
  .post-left {
    ul {
      list-style: inherit;
      padding-left: 2rem;
    }
    blockquote {
      background-color: rgba($secondary, 0.2);
      padding: 1.5rem;
      font-weight: 600;
      position: relative;
      padding-left: 5rem;
      border-left: 3px solid $primary;
      margin-bottom: 1.5rem;
      display: block;
      &::before {
        position: absolute;
        height: 100%;
        width: 100px;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        content: '\0022';
        font-size: 5rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

.banner-content {
  display: block;
  position: relative;
  // overflow: hidden;
  height: 500px;
  margin-bottom: 1.5rem;
  .banner {
    overflow-y: hidden;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    // width: 100%;
    // height: 100%;
    // left: -200px;
  }
  img {
    display: block;
    max-width: initial;
    // height: 100%;
    // min-height: 100%;
    object-fit: cover;
    // width: initial;
  }
}

// 8. Add additional custom code here
@import '../node_modules/swiper/swiper';
@import '../node_modules/swiper/modules/navigation';

@import 'common';
@import 'footer';
