// Custom.scss
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'variables';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/root';

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets

@import 'mixin';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
// @import '../node_modules/bootstrap/scss/dropdown';
// @import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
// @import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
// @import '../node_modules/bootstrap/scss/breadcrumb';
// @import '../node_modules/bootstrap/scss/pagination';
// @import '../node_modules/bootstrap/scss/badge';
// @import '../node_modules/bootstrap/scss/alert';
// @import '../node_modules/bootstrap/scss/progress';
// @import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/placeholders';
@import '../node_modules/bootstrap/scss/helpers';
// ...

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

@import 'header';

main {
  margin-top: 3.2rem;
  @include responsive(min, sm) {
    margin-top: 3.7rem;
  }
}
.hero-section {
  position: relative;
  .banner {
    display: block;
    img {
      width: 100%;
      height: 290px;
      @include responsive(min, md) {
        height: 90vh;
        min-height: 600px;
        max-height: 650px;
      }
    }
  }
  .overlay {
    display: none;
    @include responsive(min, sm) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.7);
    }
  }
  .hero-content {
    padding: 1.5rem 1rem;
    @include responsive(min, sm) {
      text-align: center;
      margin-left: calc(-0.5 * var(--bs-gutter-x));
      margin-right: calc(-0.5 * var(--bs-gutter-x));
      width: 100%;
      max-width: 950px;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      // background-color: rgba($white, 0.9);
      border-radius: 1rem;
      color: $white;
    }
  }
  .lists {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.9rem;
    flex-wrap: wrap;
    // justify-content: center;
    @include responsive(min, sm) {
      justify-self: center;
      margin-bottom: 2rem;
      justify-content: center;
      align-items: center;
    }
    li {
      padding: 0.6rem;
      border: 1px solid rgba($primary, 0.3);
      border-radius: 0.3rem;
      font-size: 0.9rem;
      @include responsive(min, sm) {
        padding: 1rem;
        border: 1px solid rgba($white, 0.3);
        background-color: rgba($body-color, 0.7);
        color: $gray-400;
      }
    }
    &__item {
      font-size: 1.5rem;
      @include responsive(min, sm) {
        white-space: nowrap;
        color: $white;
        font-size: 1.2rem;
      }
    }

    svg {
      font-size: 1rem;
    }
  }
}

.sub-heading {
  @extend %sub-heading-border;
  color: $gray-600;
}
.highlight {
  position: relative;
  padding: 0.5rem 0 3rem;
  @include responsive(min, lg) {
    padding: 4rem 0 5rem;
  }
  &__text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    gap: 0.9rem;
    padding-bottom: 1.5rem;
    @include responsive(min, lg) {
      padding-bottom: 2.5rem;
    }
    h4 {
      flex: 1 1 200px;
    }
  }

  &__list {
    display: grid;
    gap: 1.5rem;
    @include responsive(min, md) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  &__item {
    border-radius: 1rem;
    background-color: $secondary-dark;
    color: $white;
    padding: 1.5rem;
    span {
      display: block;
      font-size: 1.2rem;
    }
    &.item-1 {
      background-color: $primary-dark;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }
    &.item-3 {
      background-color: $primary;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &.item-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $black;
    }
    &.item-2,
    &.item-5 {
      padding: 0;
    }
  }
  img {
    height: 275px;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
  }
  &__description {
    @extend %smallTag;
    // padding-left: 1rem;
    // padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(min, lg) {
      padding-top: 0;
      min-height: 100%;
    }
  }
  .highlights {
    margin-bottom: 1rem;
    li {
      // display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2.5rem;
      svg {
        margin-top: 0.3rem;
        float: left;
        margin-left: -2.5rem;
        font-size: 1.5rem;
      }
      span {
        display: block;
        font-weight: var(--font-bold);
        font-size: 1rem;
        // color: $body-color;
      }
    }
  }
}

.description {
  background-color: $secondary;
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  padding: 1rem 0 0;

  @include responsive(min, lg) {
    padding: 3rem 0 0;
    text-align: center;
    padding: 7rem 0 0;
  }

  h2 {
    @include responsive(min, lg) {
      margin-bottom: 2rem;
    }
  }

  &__img {
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    @include responsive(min, md) {
      margin-left: 0;
      margin-right: 0;
    }
    img {
      border-radius: inherit;
      min-height: 300px;
    }
  }

  p {
    text-align: justify;
    @include responsive(min, lg) {
      font-size: 1.4rem;
      text-align: inherit;
    }
  }
  .propertyInfo {
    background: $secondary;
    background: linear-gradient(0deg, rgba($secondary, 1) 0%, rgba($secondary, 1) 50%, rgba($body-color, 0) 100%);
    display: flex;
    flex-direction: column;
    // align-items: ;
    justify-content: flex-end;
    padding: 1rem 0 1.5rem;

    @include responsive(min, lg) {
      padding: 1rem 1rem 0.5rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      padding-top: var(--common-space);
      // padding-bottom: var(--common-space-xl);
    }
    ul {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
      @include responsive(min, md) {
        margin-top: 4rem;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      li {
        color: $primary;
        flex: 1 1 calc(50% - 0.5rem);
        @include responsive(min, md) {
          flex: 1 1 auto;
          &:not(:last-child) {
            border-right: 1px solid rgba($secondary-dark, 0.9);
          }
        }
        span {
          font-family: var(--font-serif);
          font-weight: 600;
          display: block;
          @include responsive(min, md) {
            font-size: 1.6rem;
          }
          color: $primary-dark;
        }
      }
    }
  }
}

.amenities {
  padding: 0 0 2.5rem;
  @extend %smallTag;
  @include responsive(min, lg) {
    padding: 4rem 0;
    text-align: center;
  }

  ul {
    margin-top: 1.5rem;
    display: grid;
    grid-auto-flow: column dense;
    overflow-x: auto;
    gap: 0.9rem;
    padding-bottom: 0.5rem;
    @include responsive(min, sm) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      overflow-x: inherit;
      grid-auto-flow: row;
      gap: 1.2rem;
    }

    li {
      border: 1px solid rgba($secondary, 0.5);
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      font-size: var(--text-xs);
      white-space: nowrap;
      @include responsive(min, sm) {
        white-space: inherit;
        font-size: var(--text-sm);
      }
      border-radius: var(--rounded);
      svg {
        font-size: 1.5rem;
        @include responsive(min, sm) {
          font-size: 2.5rem;
        }
        color: $secondary-dark;
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.floor-section {
  overflow-x: hidden;
  padding: 2.5rem 0;
  background-color: $white;
  p {
    text-align: justify;
  }
  @include responsive(min, lg) {
    padding: 5rem 0;
  }

  .master-plan {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    &__inner {
      padding: 0.5rem;
      background-color: $white;
    }
    figcaption {
      text-align: center;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: red solid 1px;
    min-height: 100%;
  }
}

.floor-plan {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @extend %smallTag;
  &__slides {
    @extend %next-prev-decoration;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1px !important;
  }
  .swiper-slide {
    background-color: $white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include responsive(min, sm) {
      flex-direction: row;
    }
    position: relative;
    border: 3px solid rgba($primary, 0.3);
    border-radius: 0.5rem;
    text-align: center;
    // padding: 1.5rem 1.7rem;
    &:hover {
      box-shadow: 0 0 0.3rem 0 rgba($primary, 0.2);
    }
    a {
      // background-color: rgba($primary, 0.1);
      cursor: zoom-in;
      flex: 1 1 60%;
      @include responsive(min, sm) {
        border-right: 1px solid rgba($primary, 0.3);
      }
    }
    img {
      position: relative;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 200px;
      // padding: 0.9rem;
      @include responsive(min, sm) {
        height: 250px;
      }
    }
  }

  &__detail {
    // border: red solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 0 1rem 1.5rem;
    @include responsive(min, sm) {
      padding: 2rem;
    }
  }
  .type {
    /*  border: 1px solid rgba($primary, 0.4);
    display: inline-block;
    padding: 0.4rem 0.9rem;
    border-radius: 100vmax; */
    // font-weight: var(--font-bold);
  }
  &__price {
    border-top: 1px solid rgba($primary, 0.2);
    padding-top: 1.2rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: var(--font-bold);
    line-height: 1.1;
    svg {
      font-size: 1rem;
    }
  }
  .sizes {
    border-top: 1px solid rgba($primary, 0.2);
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    padding-top: 1.2rem;
    small {
      display: block;
    }
    span {
      font-weight: var(--font-bold);
      font-size: 1.2rem;
    }
  }
  .btn {
    // flex-grow: 1;
    width: 100%;
  }
}

.gallery {
  padding: 2.5rem 0;
  @include responsive(min, lg) {
    padding: 5rem 0 0;
    text-align: center;
  }
}

.gallery-slides {
  position: relative;
  // width: 400%;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
  @include responsive(min, lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  // grid-template-rows: auto;
  gap: 0.5rem;
  img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-slide {
    @include responsive(min, sm) {
      &:nth-of-type(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
      }

      &:nth-of-type(3) {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
      }

      &:nth-of-type(5) {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        img {
          height: 100px;
        }
      }
    }
  }
}
.localities {
  position: relative;
  padding: 2.5rem 0;
  // border-top: lighten($secondary, 10) solid 1px;
  // border-bottom: lighten($secondary, 10) solid 1px;

  @include responsive(min, lg) {
    padding: 5rem 0 0;
    // text-align: center;
  }

  &__accordion {
    margin-top: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // min-height: 100%;
    @include responsive(min, lg) {
      margin-top: -2rem;
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }

  /* @extend %smallTag;
  &__images {
    margin-bottom: 1rem;
  } */
}

.faq {
  padding: 2.5rem 0 1.5rem;
  @include responsive(min, lg) {
    padding: 5rem 0;
  }
  background-color: $white;
}
.accordion {
  position: relative;
  // @extend %accordion_sample;
  &-item {
    border: none;
    border-radius: var(--rounded);
    background-color: rgba($secondary, 0.4);
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &-focus {
    border: $primary solid 2px;
    position: absolute;
    inset: 0.5rem;
    border-radius: var(--rounded);
    z-index: 1;
    width: calc(100% - 1rem);
    min-height: calc(100% - 1rem);
    background-color: $white;
  }
  &-body,
  &-button {
    position: relative;
    z-index: 2;
  }
  &-body {
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }
  &-button {
    display: flex;
    gap: 0.7rem;
    border: none;
    background-color: $white;
    font-size: 1.2rem;
    &:not(.show) {
      background-color: rgba($secondary, 0.4);
      // border: green solid 1px;
    }
    &:not(.collapsed) {
      padding: 1.6rem 1.6rem 0;
      box-shadow: none;
    }
    &:not(.collapse) {
      background-color: transparent;
    }
    &:focus {
      box-shadow: none;
    }
    svg {
      font-size: 1.4rem;
    }
  }
  ol {
    padding: 0 0.3rem;
  }
  li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    &:not(:last-child) {
      border-bottom: 1px solid rgba($secondary, 0.5);
    }
  }
}

.about {
  position: relative;
  padding: 2.5rem 0 1.5rem;
  p {
    text-align: justify;
  }
  @include responsive(min, lg) {
    padding: 5rem 0;
  }
  .awards {
    border-top: 1px solid rgba($primary, 0.1);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__items {
      padding-left: 4rem;
      span {
        font-weight: var(--font-bold);
      }
      svg {
        display: block;
        float: left;
        margin-left: -4rem;
        font-size: 2rem;
        margin-top: 0.3rem;
      }
    }
  }
  &__bg {
    position: relative;
    @include responsive(min, lg) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.form-right {
  // display: none;
  border-top: 1px solid rgba($primary, 0.2);
  padding-top: 2rem;
  margin-top: 2rem;
  background-color: $white;
  position: relative;
  z-index: 2;
  .heading {
    text-align: center;
  }
  @include responsive(min, lg) {
    border-top: none;
    display: block;
    padding: 1rem 2rem;
    background-color: lighten($secondary, 30);
    border-radius: var(--border-theme);
    box-shadow: var();
    box-shadow: var(--shadow-theme);
    border: rgba($primary, 0.2) 1px solid;
    .heading {
      font-size: 1.1rem;
      text-align: center;
      font-weight: var(--font-bold);
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
    }
  }
}

// 8. Add additional custom code here
@import '../node_modules/swiper/swiper';
// @import '../node_modules/swiper/modules/navigation';
@import '../node_modules/swiper/modules/effect-cards.scss';

@import 'common';
@import 'footer';
