// Custom.scss
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'variables';

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/root';

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets

@import 'mixin';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
// @import '../node_modules/bootstrap/scss/dropdown';
// @import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
// @import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
// @import '../node_modules/bootstrap/scss/breadcrumb';
// @import '../node_modules/bootstrap/scss/pagination';
// @import '../node_modules/bootstrap/scss/badge';
// @import '../node_modules/bootstrap/scss/alert';
// @import '../node_modules/bootstrap/scss/progress';
// @import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/placeholders';
@import '../node_modules/bootstrap/scss/helpers';
// ...

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

@import 'header';

main {
  margin-top: 3.8rem;
  p {
    text-align: justify;
  }
}

.banner {
  max-width: calc(var(--container-xl) - 1.5rem);
  margin: 0 auto;
  position: relative;
  display: grid;
  @include responsive(min, md) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: auto;
    gap: 0.5rem;
  }
  @include responsive(min, md) {
    padding: 1rem 0 0.7rem;
  }

  &-1 {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    img {
      width: 100%;
      @include responsive(min, md) {
        // height: 420px;
        border-radius: 0.6rem 0 0 0.6rem;
      }
    }
    // border: red solid 1px;
  }

  &-2 {
    display: none;
    &.item {
      & img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    @include responsive(min, md) {
      display: block;
      &:nth-child(4) {
        img {
          border-top-right-radius: 0.6rem;
        }
      }
      &:nth-child(6) {
        img {
          border-bottom-right-radius: 0.6rem;
        }
      }
    }
  }

  &__info {
    // border: red solid 1px;
    display: flex;
    height: 100%;
    width: 100%;
    column-gap: 0.9rem;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: var(--common-space);
    padding-right: var(--common-space);
    padding-top: var(--common-space);
    z-index: 1;
    padding-bottom: var(--common-space);
    .btnRight {
      display: flex;
      column-gap: 0.8rem;
    }
    .counter,
    .video {
      border-radius: var(--border-theme);
      display: flex;
      gap: 0.3rem;
      align-items: center;
      height: 2.3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .counter {
      background-color: rgba($black, 0.5);
      color: $white;
      border: 1px solid rgba($white, 0.3);
    }
    /*     .video {
      background-color: $white;
      color: var(--youtube-color);
      font-size: 1.5rem;
      position: relative;
      z-index: 2;
    } */
  }
}

.main-content {
  padding-top: 1.5rem;
  @include responsive(min, lg) {
    padding-top: 2rem;
  }
  &__header {
    // border: red solid 1px;
    display: flex;
    flex-direction: column;
    @include responsive(min, sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    h1 {
      margin-bottom: 0;
    }
    .location {
      color: $gray-700;
      font-size: 0.9rem;
    }

    .price-wrapper {
      border-top: 1px solid rgba($gray-500, 0.3);
      padding-top: 0.5rem;
      margin-top: 0.5rem;
      @include responsive(min, sm) {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
      }
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
    .price {
      font-size: 0.8rem;
      color: $gray-600;
      span {
        font-size: 1.4rem;
        font-weight: 600;
        color: $body-color;
      }
      // &:last-child {
      //   text-align: right;
      // }
    }
  }
  .lists {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba($gray-500, 0.3);
    background-color: rgba($gray-400, 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    @include responsive(min, sm) {
      flex-direction: row;
    }
    font-size: 0.8rem;
    justify-content: space-between;
    span {
      display: block;
      font-size: 1rem;
      color: $body-color;
      font-weight: var(--font-bold);
    }
    li {
      padding: 1rem;
      flex-grow: 1;
      color: $gray-600;
      &:not(:first-child) {
        border-top: 1px solid rgba($gray-600, 0.2);
        @include responsive(min, sm) {
          border-top: none;
          border-left: 1px solid rgba($gray-600, 0.2);
        }
        // padding-right: 0.5rem;
        // margin-right: 0.5rem;
      }
      padding-left: 1.5rem;
      svg {
        float: left;
        margin-left: -1.5rem;
        margin-top: 0.5rem;
        font-size: 1rem;
        display: block;
        padding-left: 1rem;
        margin-right: 0.8rem;
      }
    }
  }
  .offers {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgba(var(--bs-success-rgb), 0.1);
    border: 1px solid rgba(var(--bs-success-rgb), 0.05);
    border-radius: var(--border-theme);
    padding: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: var(--font-smaller);
    svg {
      font-size: 2rem;
      color: var(--bs-success);
    }
  }
  .propertyInfo {
    border-top: 1px solid rgba($body-color, 0.2);
    padding-top: var(--common-space);
    padding-bottom: var(--common-space);
    @include responsive(min, sm) {
      padding-top: var(--common-space);
      // padding-bottom: var(--common-space-xl);
    }
    ul {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 0;
      @include responsive(min, sm) {
        gap: 2rem 1rem;
      }
      li {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
          border-bottom: 1px solid rgba($body-color, 0.2);
          @include responsive(min, sm) {
            border-bottom: inherit;
          }
        }
        @include responsive(min, sm) {
          font-size: 0.85rem;
          color: rgba($black, 0.6);
          display: inherit;
          padding-top: inherit;
          padding-bottom: inherit;
          border-bottom: none;
        }
        span {
          display: block;
          font-size: 1rem;
          font-weight: var(--font-bold);
          width: 150px;
          color: $body-color;
          @include responsive(min, sm) {
            // font-weight: var(--font-bold);
          }
        }
      }
    }
  }
  .highlights {
    list-style: none;
    border-top: 1px solid rgba($body-color, 0.2);
    padding-top: 1rem;
    li {
      // display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: var(--font-smaller);
      padding-left: 3rem;
      svg {
        margin-top: 0.3rem;
        float: left;
        margin-left: -3rem;
        font-size: 1.5rem;
      }
      span {
        display: block;
        font-weight: var(--font-bold);
        font-size: 1rem;
        color: $body-color;
      }
    }
  }
}

.prices,
.amenities,
.localities,
.layout,
.floor-plan {
  small {
    display: block;
    font-size: var(--font-smaller);
    color: $gray-600;
    font-weight: normal;
  }
}

.description {
  // border-top: 1px solid rgba($body-color, 0.2);
  padding-top: 1.5rem;
  &__disable {
    display: none;
    &.show {
      display: block;
    }
  }
}
.prices {
  padding-top: 3rem;
  &__slides {
    @extend %next-prev-decoration;
    .swiper-slide {
      // flex-grow: 1;
      border: 4px solid rgba($primary, 0.1);
      border-radius: 0.5rem;
      flex-direction: column;
      text-align: center;
      padding: 1.5rem 1.7rem;
    }
  }
  .type {
    border: 1px solid rgba($primary, 0.4);
    display: inline-block;
    padding: 0.4rem 0.9rem;
    border-radius: 100vmax;
    font-weight: var(--font-bold);
  }
  &__price {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: var(--font-bold);
    line-height: 1.1;

    svg {
      font-size: 1rem;
    }
  }
  .sizes {
    border-top: 1px solid rgba($primary, 0.2);
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    padding-top: 1.2rem;
    span {
      font-weight: var(--font-bold);
      font-size: 1.2rem;
    }
  }
  .btn {
    // flex-grow: 1;
    width: 100%;
  }
}

.amenities {
  padding-top: var(--common-space-xl);
  @include responsive(min, md) {
    padding-top: var(--common-space-xl);
  }
  ul {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    li {
      flex: 0 0 100%;
      @include responsive(min, md) {
        flex: 0 0 calc(50% - 0.5rem);
      }
      // border: red solid 1px;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      display: flex;
      column-gap: 0.5rem;
      svg {
        font-size: 1.5rem;
      }
    }
  }
}

.localities {
  padding-top: var(--common-space-xl);
  &__images {
    border: rgba($primary, 0.2) solid 4px;
    margin-bottom: 1rem;
  }
  .nav-tabs {
    flex-wrap: nowrap;
    overflow: auto hidden;
    column-gap: 2px;
    border-bottom: none;
  }
  .nav-link {
    background-color: lighten($body-color, 80);
    border-radius: 0;
    text-align: center;
    font-weight: var(--font-medium);
    font-size: var(--font-smaller);
    color: lighten($body-color, 20);
    span {
      display: none;
      @include responsive(min, md) {
        display: block;
      }
    }
    &.active {
      background-color: rgba($primary, 0.15);
      border: none;
      border-top: 2px solid lighten($primary, 15);
      color: $primary;
    }
    svg {
      display: block;
      margin: 0 auto 0.2rem;
      font-size: 1.5rem;
    }
  }
  .tab-pane {
    padding: 1rem;
    position: relative;
    z-index: 2;
    background-color: rgba($primary, 0.05);
    ol {
      li {
        font-size: var(--font-smaller);
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:not(:last-child) {
          border-bottom: 1px solid rgba($primary, 0.3);
        }
        strong {
          font-weight: var(--font-bold);
          flex: 0 0 80px;
          text-align: right;
        }
      }
    }
  }
}

.ebrochure {
  position: relative;
  margin-top: 2rem;
  border: rgba($primary, 0.2) solid 1px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include responsive(min, sm) {
    gap: 1.5rem;
    flex-direction: row;
  }
  background-color: rgba($primary, 0.1);
  align-items: center;
  &__description {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    strong {
      margin-top: 0.5rem;
      display: block;
    }
  }
  .pdf {
    font-size: 9rem;
    svg {
      color: rgba($primary, 0.3);
    }
  }
}

.any-question {
  padding-top: 1rem;
  &__description {
    @extend .ebrochure;
    .pdf {
      font-size: 7rem;
      flex: 1 1 30%;
      // border: red solid 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.floor-plan {
  padding-top: 3rem;
  // border: red solid 1px;
  &__slides {
    @extend %next-prev-decoration;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1px !important;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    @include responsive(min, sm) {
      flex-direction: row;
    }
    position: relative;
    border: 4px solid rgba($primary, 0.1);
    border-radius: 0.5rem;
    text-align: center;
    // padding: 1.5rem 1.7rem;
    &:hover {
      box-shadow: 0 0 0.3rem 0 rgba($primary, 0.2);
    }
    img {
      position: relative;
      z-index: 1050;
      height: 300px;
      width: 100%;
      padding: 0.9rem;
      object-fit: cover;
      object-position: center;
    }
  }
  a {
    // background-color: rgba($primary, 0.1);
    flex: 0 0 330px;
    cursor: zoom-in;
  }
  &__detail {
    flex: 1;
    padding: 0 1rem 1.5rem;
    @include responsive(min, sm) {
      padding: 1rem;
    }
  }
  .type {
    border: 1px solid rgba($primary, 0.4);
    display: inline-block;
    padding: 0.4rem 0.9rem;
    border-radius: 100vmax;
    font-weight: var(--font-bold);
  }
  &__price {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: var(--font-bold);
    line-height: 1.1;

    svg {
      font-size: 1rem;
    }
  }
  .sizes {
    border-top: 1px solid rgba($primary, 0.2);
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    padding-top: 1.2rem;
    span {
      font-weight: var(--font-bold);
      font-size: 1.2rem;
    }
  }
  .btn {
    // flex-grow: 1;
    width: 100%;
  }
}

.faq {
  padding-top: var(--common-space-xl);
  .accordion {
    --bs-accordion-bg: none;
    margin-bottom: 3rem;
    // border: red solid 1px;
  }

  .accordion-button {
    padding: var(--bs-accordion-btn-padding-y) 0;
    font-size: 0.9rem;
    font-weight: 600;
    &:focus {
      box-shadow: none;
    }
    &:not(.collapsed) {
      // color: inherit;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .accordion-item {
    border: none;
    border-bottom: solid var(--bs-accordion-border-width) var(--bs-accordion-border-color);
    &:last-of-type {
      border-bottom: none;
    }
  }
  .accordion-body {
    padding: 0 0 var(--bs-accordion-body-padding-y);
    font-size: 0.9rem;
  }
}

.form-right {
  display: none;
  @include responsive(min, lg) {
    display: block;
    top: 5rem;
    margin-bottom: var(--common-space-xl);
    position: -webkit-sticky;
    position: sticky;
    padding: 1rem 2rem;
    background-color: $white;
    border-radius: var(--border-theme);
    // box-shadow: var();
    box-shadow: var(--shadow-theme);
    border: rgba($primary, 0.2) 1px solid;
    .heading {
      font-size: 1.1rem;
      text-align: center;
      font-weight: var(--font-bold);
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
    }
  }
}

// 8. Add additional custom code here
@import '../node_modules/swiper/swiper';
// @import '../node_modules/swiper/modules/navigation';
@import '../node_modules/swiper/modules/effect-cards.scss';

@import 'common';
@import 'footer';
